Last updated: June 29th 2016

# Climate data exploration: a journey through Pandas

Welcome to a demo of Python's data analysis package called `Pandas`. Our goal is to learn about Data Analysis and transformation using Pandas while exploring datasets used to analyze climate change.

## The story

The global goal of this demo is to provide the tools to be able to try and reproduce some of the analysis done in the IPCC global climate reports published in the last decade (see for example https://www.ipcc.ch/pdf/assessment-report/ar5/syr/SYR_AR5_FINAL_full.pdf). 

We are first going to load a few public datasets containing information about global temperature, global and local sea level infomation, and global concentration of greenhouse gases like CO2, to see if there are correlations and how the trends are to evolve, assuming no fundamental change in the system. For all these datasets, we will download them, visualize them, clean them, search through them, merge them, resample them, transform them and summarize them.

In the process, we will learn about:

Part 1:

    1. Loading data
    2. Pandas datastructures
    3. Cleaning and formatting data
    4. Basic visualization
   
Part 2:

    5. Accessing data
    6. Working with dates and times
    7. Transforming datasets
    8. Statistical analysis
    9. Data agregation and summarization
    10. Correlations and regressions
    11. Predictions from auto regression models

## Some initial setup

In [3]:
%matplotlib inline
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

pd.set_option("display.max_rows", 16)

LARGE_FIGSIZE = (6, 4)

In [4]:
# Change this cell to the demo location on YOUR machine
%cd ~/Projects/pandas_tutorial/climate_timeseries/
%ls

[WinError 3] The system cannot find the path specified: 'C:\\Users\\DELL/Projects/pandas_tutorial/climate_timeseries/'
C:\Users\DELL\Project_folder\pandas_tutorial\climate_timeseries
 Volume in drive C has no label.
 Volume Serial Number is AA92-EE58

 Directory of C:\Users\DELL\Project_folder\pandas_tutorial\climate_timeseries

10/15/2024  10:50 AM    <DIR>          .
10/14/2024  07:13 PM    <DIR>          ..
10/15/2024  10:49 AM    <DIR>          .ipynb_checkpoints
10/15/2024  10:47 AM         1,312,642 climate_timeseries-Part1.ipynb
10/15/2024  10:50 AM            58,061 climate_timeseries-Part2.ipynb
10/13/2024  03:43 PM    <DIR>          data
10/13/2024  03:43 PM    <DIR>          sandbox
               2 File(s)      1,370,703 bytes
               5 Dir(s)  95,373,139,968 bytes free

## Reloading data

In [5]:
with pd.HDFStore("all_data.h5") as store:
    giss_temp = store["/temperatures/giss"]
    full_globe_temp = store["/temperatures/full_globe"]
    mean_sea_level = store["/sea_level/mean_sea_level"]
    local_sea_level_stations = store["/sea_level/stations"]

ImportError: Missing optional dependency 'pytables'.  Use pip or conda to install pytables.

## 5. Accessing data

The general philosophy for accessing values inside a Pandas datastructure is that, unlike a numpy array that only allows to index using integers a Series allows to index with the values inside the index. That makes the code more readable.

### In a series

In [6]:
full_globe_temp

NameError: name 'full_globe_temp' is not defined

In [7]:
# By default [] on a series accesses values using the index, not the location in the series

In [8]:
# This index is non-trivial though (will talk more about these datetime objects further down):
full_globe_temp.index.dtype

NameError: name 'full_globe_temp' is not defined

In [9]:
first_date = full_globe_temp.index[0]
first_date == pd.to_datetime('1880')

NameError: name 'full_globe_temp' is not defined

In [10]:
# By default [] on a series accesses values using the index, not the location in the series
print(full_globe_temp[pd.to_datetime('1880')])
# print(temp1[0])  # This would fail!!

NameError: name 'full_globe_temp' is not defined

In [11]:
# Another more explicit way to do the same thing is to use loc
print(full_globe_temp.loc[pd.to_datetime('1990')])
print(full_globe_temp.iloc[0], full_globe_temp.iloc[-1])

NameError: name 'full_globe_temp' is not defined

In [12]:
# Year of the last record?
full_globe_temp.index[-1]

NameError: name 'full_globe_temp' is not defined

In [13]:
# New records can be added:
full_globe_temp[pd.to_datetime('2011')] = np.nan

NameError: name 'full_globe_temp' is not defined

### In a dataframe

In [14]:
# In 2D, same idea, though in a DF [] accesses columns (Series)
giss_temp["Jan"]

NameError: name 'giss_temp' is not defined

In [15]:
# while .loc and .iloc allow to access individual values, slices or masked selections:
print(giss_temp.loc[1979, "Dec"])

NameError: name 'giss_temp' is not defined

In [18]:
# the loc operators support fancy indexing:
print(giss_temp.loc[1979, ["Nov", "Dec"]])

NameError: name 'giss_temp' is not defined

In [19]:
# Slicing can be done with .loc and .iloc
print(giss_temp.loc[1979, "Jan":"Jun"])  # Note that the end point is included unlike NumPy!!!
print(giss_temp.loc[1979, ::2])

NameError: name 'giss_temp' is not defined

In [20]:
# Masking can also be used in one or more dimensions. For example, another way to grab every other month for the first year:
mask = [True, False] * 6
print(giss_temp.iloc[0, mask])
print(giss_temp.loc[1880, mask])

NameError: name 'giss_temp' is not defined

In [21]:
# We could also add a new column like a new entry in a dictionary
giss_temp["totals"] = giss_temp.sum(axis=1)
giss_temp

NameError: name 'giss_temp' is not defined

In [22]:
# Let's remove this new column, we will learn to do this differently
giss_temp = giss_temp.drop("totals", axis=1)

NameError: name 'giss_temp' is not defined

More complex queries rely on the same concepts. For example what are the names, and IDs of the sea level stations in the USA?

In [23]:
local_sea_level_stations.columns

NameError: name 'local_sea_level_stations' is not defined

In [24]:
american_stations = local_sea_level_stations["Country"] == "USA"
local_sea_level_stations.loc[american_stations, ["ID", "Station Name"]]

NameError: name 'local_sea_level_stations' is not defined

**EXERCISE**: Print all European countries that have sea level stations. We will for now define Europe as being a country that has a station within the 30-70 latitude and a longitude in -10 to 40. You will need to combine masks using the `&` (`and`) and/or the `|` (`or`) operators, just like in Numpy.

Bonus: print each country only once.

## Warning: modifying a dataframe with multiple indexing

In [25]:
giss_temp

NameError: name 'giss_temp' is not defined

In [26]:
giss_temp['Jan']

NameError: name 'giss_temp' is not defined

In [27]:
# This works right now, but this is dangerous:
giss_temp['Jan'][1880] = -33.9

NameError: name 'giss_temp' is not defined

In [28]:
giss_temp

NameError: name 'giss_temp' is not defined

In [29]:
# This is the safe way to do it:
giss_temp.loc[1880, 'Jan'] = -33.9

NameError: name 'giss_temp' is not defined

## 6. Working with dates and times

More details at http://pandas.pydata.org/pandas-docs/stable/timeseries.html

Let's work some more with `full_globe_temp`'s index since we saw it is special.

In [30]:
# Its dtype is NumPy's new 'datetime64[ns]':
full_globe_temp.index.dtype

NameError: name 'full_globe_temp' is not defined

The advantage of having a real datetime index is that operations can be done efficiently on it. Let's add a flag to signal if the value is before or after the great depression's black Friday:

In [31]:
black_friday = pd.to_datetime('1929-10-29')
full_globe_temp.index > black_friday

NameError: name 'full_globe_temp' is not defined

### Timestamps or periods?

In [32]:
# Convert its index from timestamp to period: it is more meaningfull since it was measured and averaged over the year...
full_globe_temp.index = full_globe_temp.index.to_period()
full_globe_temp

NameError: name 'full_globe_temp' is not defined

See also `to_timestamp` to conver back to timestamps and its `how` method to specify when inside the range to set the timestamp.

### Resampling

Another thing that can be done is to resample the series, downsample or upsample. Let's see the series converted to 10 year blocks or upscale to a monthly series:

In [33]:
# Frequencies can be specified as strings: "us", "ms", "S", "T", "H", "D", "B", "W", "M", "A", "3min", "2h20", ...
# More aliases at http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases
full_globe_temp.resample("M").mean()

NameError: name 'full_globe_temp' is not defined

In [34]:
full_globe_temp.resample("10A").mean()

NameError: name 'full_globe_temp' is not defined

### Generating DatetimeIndex objects

The index for `giss_temp` isn't an instance of datetimes so we may want to generate such `DatetimeIndex` objects. This can be done with `date_range` and `period_range`:

In [35]:
# Can specify a start date and a number of values desired. By default it will assume an interval of 1 day:
pd.date_range('1/1/1880', periods=4)

DatetimeIndex(['1880-01-01', '1880-01-02', '1880-01-03', '1880-01-04'], dtype='datetime64[ns]', freq='D')

In [37]:
# Can also specify a start and a stop date, as well as a frequency
pd.date_range('1/1/1880', '1/1/2016', freq="A")

C:\Users\DELL\AppData\Local\Temp\ipykernel_10224\592056454.py:2: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  pd.date_range('1/1/1880', '1/1/2016', freq="A")

DatetimeIndex(['1880-12-31', '1881-12-31', '1882-12-31', '1883-12-31',
               '1884-12-31', '1885-12-31', '1886-12-31', '1887-12-31',
               '1888-12-31', '1889-12-31',
               ...
               '2006-12-31', '2007-12-31', '2008-12-31', '2009-12-31',
               '2010-12-31', '2011-12-31', '2012-12-31', '2013-12-31',
               '2014-12-31', '2015-12-31'],
              dtype='datetime64[ns]', length=136, freq='YE-DEC')

Note that `"A"` by default means the end of the year. Other times in the year can be specified with `"AS"` (start), `"A-JAN"` or `"A-JUN"`. Even more options can be imported from `pandas.tseries.offsets`:

In [38]:
from pandas.tseries.offsets import YearBegin
pd.date_range('1/1/1880', '1/1/2015', freq=YearBegin())

DatetimeIndex(['1880-01-01', '1881-01-01', '1882-01-01', '1883-01-01',
               '1884-01-01', '1885-01-01', '1886-01-01', '1887-01-01',
               '1888-01-01', '1889-01-01',
               ...
               '2006-01-01', '2007-01-01', '2008-01-01', '2009-01-01',
               '2010-01-01', '2011-01-01', '2012-01-01', '2013-01-01',
               '2014-01-01', '2015-01-01'],
              dtype='datetime64[ns]', length=136, freq='YS-JAN')

Actually we will convert that dataset to a 1D dataset, and build a monthly index, so lets build a monthly period index

In [39]:
giss_temp_index = pd.period_range('1/1/1880', '12/1/2015', freq="M")
giss_temp_index

PeriodIndex(['1880-01', '1880-02', '1880-03', '1880-04', '1880-05', '1880-06',
             '1880-07', '1880-08', '1880-09', '1880-10',
             ...
             '2015-03', '2015-04', '2015-05', '2015-06', '2015-07', '2015-08',
             '2015-09', '2015-10', '2015-11', '2015-12'],
            dtype='period[M]', length=1632)

## 7. Transforming datasets: apply, sort, stack/unstack and transpose

Let's look at our `local_sea_level_stations` dataset some more, to learn more about it and also do some formatting. What is the range of dates and lattitudes we have, the list of countries, the range of variations, ...

In [40]:
# What about the range of dates?
local_sea_level_stations["Date"].min(), local_sea_level_stations["Date"].max(), local_sea_level_stations["Date"].iloc[-1]

NameError: name 'local_sea_level_stations' is not defined

In [41]:
local_sea_level_stations.dtypes

NameError: name 'local_sea_level_stations' is not defined

### Apply: transforming Series

We don't see the range of dates because the dates are of dtype "Object", (usually meaning strings). Let's convert that using `apply`:

In [42]:
local_sea_level_stations["Date"].apply(pd.to_datetime)

NameError: name 'local_sea_level_stations' is not defined

This `apply` method is very powerful and general. We have used it to do something we could have done with `astype`, but any custom function can be provided to `apply`.

In [43]:
local_sea_level_stations["Date"] = local_sea_level_stations["Date"].apply(pd.to_datetime)

# Now we can really compare the dates, and therefore get a real range:
print(local_sea_level_stations["Date"].min(), local_sea_level_stations["Date"].max())

NameError: name 'local_sea_level_stations' is not defined

**EXERCISE:** Use the `apply` method to search through the stations names for a station in New York. What is the ID of the station?

In [44]:
# Your code here

Now that we know the range of dates, to look at the data, sorting it following the dates is done with `sort`:

In [45]:
local_sea_level_stations.sort_values(by="Date")

NameError: name 'local_sea_level_stations' is not defined

Since many stations last updated on the same dates, it is logical to want to sort further, for example, by `Country` at constant date:

In [46]:
local_sea_level_stations.sort_values(by=["Date", "Country"], ascending=False)

NameError: name 'local_sea_level_stations' is not defined

### Stack and unstack

Let's look at the GISS dataset differently. Instead of seeing the months along the axis 1, and the years along the axis 0, it would could be good to convert these into an outer and an inner axis along only 1 time dimension.

Stacking and unstacking allows to convert a dataframe into a series and vice-versa:

In [48]:
giss_temp.unstack?
unstacked = giss_temp.unstack()
unstacked

Object `giss_temp.unstack` not found.

NameError: name 'giss_temp' is not defined

In [49]:
# Note the nature of the result:
type(unstacked)

NameError: name 'unstacked' is not defined

The result is grouped in the wrong order since it sorts first the axis that was unstacked. Another transformation that would help us is transposing...

In [50]:
giss_temp.transpose()

NameError: name 'giss_temp' is not defined

In [51]:
giss_temp_series = giss_temp.transpose().unstack()
giss_temp_series.name = "Temp anomaly"
giss_temp_series

NameError: name 'giss_temp' is not defined

### A side note: Multi-indexes

In [52]:
# Note the nature of the resulting index:
giss_temp_series.index

NameError: name 'giss_temp_series' is not defined

In [53]:
# It is an index made of 2 columns. Let's fix the fact that one of them doesn't have a name:
giss_temp_series.index = giss_temp_series.index.set_names(["year", "month"])

NameError: name 'giss_temp_series' is not defined

In [54]:
# We can now access deviations by specifying the year and month:
giss_temp_series[1980, "Jan"]

NameError: name 'giss_temp_series' is not defined

But this new multi-index isn't very good, because is it not viewed as 1 date, just as a tuple of values:

In [55]:
giss_temp_series.plot(figsize=LARGE_FIGSIZE)

NameError: name 'giss_temp_series' is not defined

To improve on this, let's reuse an index we generated above with `date_range`:

In [56]:
giss_temp_series.index = giss_temp_index
giss_temp_series.plot(figsize=LARGE_FIGSIZE)

NameError: name 'giss_temp_series' is not defined

## 8. Statistical analysis

### Descriptive statistics

Let's go back to the dataframe version of the GISS temperature dataset temporarily to analyze anomalies month per month. Like most functions on a dataframe, stats functions are computed column per column. They also ignore missing values:

In [57]:
monthly_averages = giss_temp.mean()
monthly_averages

NameError: name 'giss_temp' is not defined

It is possible to apply stats functions across rows instead of columns using the `axis` keyword (just like in NumPy).

In [58]:
yearly_averages = giss_temp.mean(axis=1)
yearly_averages

NameError: name 'giss_temp' is not defined

`describe` provides many descriptive stats computed at once:

In [59]:
mean_sea_level.describe()

NameError: name 'mean_sea_level' is not defined

### Rolling statistics

Let's remove high frequency signal and extract the trend:

In [60]:
full_globe_temp.plot()
rolled_series = full_globe_temp.rolling(window=10, center=False)
print(rolled_series)
rolled_series.mean().plot(figsize=LARGE_FIGSIZE)

NameError: name 'full_globe_temp' is not defined

In [61]:
# To see what all can be done while rolling, 
#pd.rolling_<TAB>

### Describing categorical series

Let's look at our `local_sea_level_stations` dataset some more:

In [62]:
local_sea_level_stations.describe()

NameError: name 'local_sea_level_stations' is not defined

`.describe()` only displays information about continuous `Series`. What about categorical ones?

In [63]:
local_sea_level_stations.columns

NameError: name 'local_sea_level_stations' is not defined

In [64]:
local_sea_level_stations["Country"]

NameError: name 'local_sea_level_stations' is not defined

In [65]:
local_sea_level_stations["Country"].describe()

NameError: name 'local_sea_level_stations' is not defined

In [66]:
# List of unique values:
local_sea_level_stations["Country"].unique()

NameError: name 'local_sea_level_stations' is not defined

In [67]:
local_sea_level_stations["Country"].value_counts()

NameError: name 'local_sea_level_stations' is not defined

In [68]:
# To save memory, we can convert it to a categorical column:
local_sea_level_stations["Country"] = local_sea_level_stations["Country"].astype("category")

NameError: name 'local_sea_level_stations' is not defined

We can also create categorical series from continuous ones with the cut function:

In [69]:
categorized = pd.cut(full_globe_temp, 3, labels=["L", "M", "H"])
categorized

NameError: name 'full_globe_temp' is not defined

In [70]:
# The advantage is that we can use labels and control the order they should be treated in (L < M < H)
categorized.cat.categories

NameError: name 'categorized' is not defined

**QUIZ:** How much memory did we save? What if it was categorized but with dtype `object` instead of `category`?

## 9. Data Aggregation/summarization

Now that we have a good grasp on our datasets, Let's transform and analyze them some more to prepare them to compare them. The 2 function(alities)s to learn about here are `groupby` and `pivot_table`.

### GroupBy

Let's explore the sea levels, first splitting into calendar years to compute average sea levels for each year:

In [71]:
mean_sea_level

NameError: name 'mean_sea_level' is not defined

In [72]:
mean_sea_level = mean_sea_level.reset_index()
mean_sea_level

NameError: name 'mean_sea_level' is not defined

In [73]:
# Groupby with pandas can be done on a column or by applying a custom function to the index. 
# If we want to group the data by year, we can build a year column into the DF:
mean_sea_level["year"] = mean_sea_level["date"].apply(int)
mean_sea_level

NameError: name 'mean_sea_level' is not defined

In [74]:
sl_grouped_year = mean_sea_level.groupby("year")

NameError: name 'mean_sea_level' is not defined

What kind of object did we create?

In [75]:
type(sl_grouped_year)

NameError: name 'sl_grouped_year' is not defined

What to do with that strange GroupBy object? We can first loop over it to get the labels and the sub-dataframes for each group:

In [76]:
for group_name, subdf in sl_grouped_year:
    print(group_name)
    print(subdf)
    print("")

NameError: name 'sl_grouped_year' is not defined

We could have done the same with less effort by grouping by the result of a custom function applied to the index. Let's reset the dataframe:

In [77]:
mean_sea_level = mean_sea_level.drop(["year"], axis=1).set_index("date")

NameError: name 'mean_sea_level' is not defined

So that we can do the groupby on the index:

In [78]:
sl_grouped_year = mean_sea_level.groupby(int)

NameError: name 'mean_sea_level' is not defined

Something else that can be done with such an object is to look at its `groups` attribute to see the labels mapped to the rows involved:

In [79]:
sl_grouped_year.groups

NameError: name 'sl_grouped_year' is not defined

How to aggregate the results of this grouping depends on what we want to see: do we want to see averaged over the years? That is so common that it has been implemented directly as a method on the `GroupBy` object.

In [80]:
sl_grouped_year.mean()

NameError: name 'sl_grouped_year' is not defined

In [81]:
# We can apply any other reduction function or even a dict of functions using aggregate:
sl_grouped_year.aggregate({"mean_global": np.std})

NameError: name 'sl_grouped_year' is not defined

Another possibility is to transform each group separately, rather than aggregate. For example, here we group over decades and subtract to each value, the average over that decade:

In [82]:
sl_grouped_decade = mean_sea_level.groupby(lambda x: int(x/10.))
sl_grouped_decade.groups.keys()

NameError: name 'mean_sea_level' is not defined

In [83]:
sl_grouped_decade.transform(lambda subframe: (subframe - subframe.mean()/subframe.std()))

NameError: name 'sl_grouped_decade' is not defined

### Pivot_table

Pivot table also allows to summarize the information, allowing to convert repeating columns into axes. For example, let's say that we would like to know how many sea level stations are in various european countries. And we would like to group the answers into 2 categories: the stations that have been updated recently (after 2000) and the others. 

Let's first extract only entries located (roughly) in Europe.

In [84]:
european_filter = ((local_sea_level_stations["Lat"] > 30) & 
                   (local_sea_level_stations["Lat"] < 70) & 
                   (local_sea_level_stations["Lon"] > -10) & 
                   (local_sea_level_stations["Lon"] < 40) 
                   )

# Let's make a copy to work with a new, clean block of memory 
# (if you are interested, try and remove the copy to see the consequences further down...)
european_stations = local_sea_level_stations[european_filter].copy()
european_stations["Country"].unique()

NameError: name 'local_sea_level_stations' is not defined

The columns of our future table should have 2 values, whether the station was updated recently or not. Let's build a column to store that information:

In [85]:
european_stations["Recently updated"] = european_stations["Date"] > pd.to_datetime("2000")

NameError: name 'european_stations' is not defined

Finally, what value will be displayed inside the table. The values should be extracted from a column, pivot_table allowing an aggregation function to be applied when more than 1 value is found for a given case. Each station should count for 1, and we could aggregate multiple stations by summing these ones:

In [86]:
european_stations["Number of stations"] = np.ones(len(european_stations))

NameError: name 'european_stations' is not defined

In [87]:
european_stations.sort_values(by="Country")

NameError: name 'european_stations' is not defined

In [88]:
station_counts = pd.pivot_table(european_stations, index="Country", columns="Recently updated", 
                                values="Number of stations", aggfunc=np.sum)
# Let's remove from the table the countries for which no station was found:
station_counts.dropna(how="all")

NameError: name 'european_stations' is not defined

**QUIZ:** Why is there still some countries with no entries?

**EXERCISE:** How many recently updated stations? Not recently updated stations? Which country has the most recently updated stations? 

Bonus: Which country has the most stations?

In [89]:
# Your code here

**EXERCISE:** How would we build the same dataframe with a `groupby` operation?

In [90]:
# Your code here

## 10. Correlations and regressions

### Correlation coefficients

Both Series and dataframes have a `corr` method to compute the correlation coefficient between series:

In [91]:
# Let's see what how the various sea levels are correlated with each other:
mean_sea_level["northern_hem"].corr(mean_sea_level["southern_hem"])

NameError: name 'mean_sea_level' is not defined

In [92]:
# If series are already grouped into a DataFrame, computing all correlation coeff is trivial:
mean_sea_level.corr()

NameError: name 'mean_sea_level' is not defined

Note: by default, the method used is the `Pearson` correlation coefficient (https://en.wikipedia.org/wiki/Pearson_product-moment_correlation_coefficient). Other methods are available (`kendall`, `spearman` using the `method` kwarg).

In [93]:
# Visualize the correlation matrix
plt.imshow(mean_sea_level.corr(), interpolation="nearest")

NameError: name 'mean_sea_level' is not defined

In [94]:
plt.yticks?

Signature:
plt.yticks(
    ticks: 'ArrayLike | None' = None,
    labels: 'Sequence[str] | None' = None,
    *,
    minor: 'bool' = False,
    **kwargs,
) -> 'tuple[list[Tick] | np.ndarray, list[Text]]'
Docstring:
Get or set the current tick locations and labels of the y-axis.

Pass no arguments to return the current values without modifying them.

Parameters
----------
ticks : array-like, optional
    The list of ytick locations.  Passing an empty list removes all yticks.
labels : array-like, optional
    The labels to place at the given *ticks* locations.  This argument can
    only be passed if *ticks* is passed as well.
minor : bool, default: False
    If ``False``, get/set the major ticks/labels; if ``True``, the minor
    ticks/labels.
**kwargs
    `.Text` properties can be used to control the appearance of the labels.

    .. warning::

        This only sets the properties of the current ticks, which is
        only sufficient if you either pass *ticks*, resulting in a
        fixed list of ticks, or if the plot is static.

        Ticks are not guaranteed to be persistent. Various operations
        can create, delete and modify the Tick instances. There is an
        imminent risk that these settings can get lost if you work on
        the figure further (including also panning/zooming on a
        displayed figure).

        Use `~.pyplot.tick_params` instead if possible.

Returns
-------
locs
    The list of ytick locations.
labels
    The list of ylabel `.Text` objects.

Notes
-----
Calling this function with no arguments (e.g. ``yticks()``) is the pyplot
equivalent of calling `~.Axes.get_yticks` and `~.Axes.get_yticklabels` on
the current Axes.
Calling this function with arguments is the pyplot equivalent of calling
`~.Axes.set_yticks` and `~.Axes.set_yticklabels` on the current Axes.

Examples
--------
>>> locs, labels = yticks()  # Get the current locations and labels.
>>> yticks(np.arange(0, 1, step=0.2))  # Set label locations.
>>> yticks(np.arange(3), ['Tom', 'Dick', 'Sue'])  # Set text labels.
>>> yticks([0, 1, 2], ['January', 'February', 'March'],
...        rotation=45)  # Set text labels and properties.
>>> yticks([])  # Disable yticks.
File:      c:\users\dell\appdata\local\programs\python\python311\lib\site-packages\matplotlib\pyplot.py
Type:      function

In [95]:
# let's make it a little better to confirm that learning about global sea level cannot be done from just 
# looking at stations in the northern hemisphere:
plt.imshow(mean_sea_level.corr(), interpolation="nearest")
plt.xticks(np.arange(3), mean_sea_level.corr().columns)
plt.yticks(np.arange(3), mean_sea_level.corr().index)
plt.colorbar()

NameError: name 'mean_sea_level' is not defined

### OLS

The recommeded way to build ordinaty least square regressions is by using `statsmodels`.

In [96]:
import statsmodels.formula.api as sm

ModuleNotFoundError: No module named 'statsmodels'

In [97]:
sm_model = sm.ols(formula="mean_global ~ northern_hem + southern_hem", data=mean_sea_level).fit()

NameError: name 'sm' is not defined

In [98]:
sm_model.params

NameError: name 'sm_model' is not defined

In [99]:
type(sm_model.params)

NameError: name 'sm_model' is not defined

In [100]:
sm_model.summary()

NameError: name 'sm_model' is not defined

In [101]:
plt.figure(figsize=LARGE_FIGSIZE)
mean_sea_level["mean_global"].plot()
sm_model.fittedvalues.plot(label="OLS prediction")
plt.legend(loc="upper left")

NameError: name 'mean_sea_level' is not defined

### An interlude: data alignment

#### Converting the floating point date to a timestamp

Now, we would like to look for correlations between our monthly temperatures and the sea levels we have. For this to be possible, some data alignment must be done since the time scales are very different for the 2 datasets.

In [102]:
mean_sea_level["mean_global"].index

NameError: name 'mean_sea_level' is not defined

In [103]:
giss_temp_series.index

NameError: name 'giss_temp_series' is not defined

In [104]:
DAYS_PER_YEAR = {}

In [105]:
import calendar
# Let's first convert the floating point dates in the sea level to timestamps:
def floating_year_to_timestamp(float_date):
    """ Convert a date as a floating point year number to a pandas timestamp object.
    """
    year = int(float_date)
    days_per_year = 366 if calendar.isleap(year) else 365
    remainder = float_date - year
    daynum = 1 + remainder * (days_per_year - 1)
    daynum = int(round(daynum))
    # Convert day number to month and day
    day = daynum
    month = 1
    while month < 13:
        month_days = calendar.monthrange(year, month)[1]
        if day <= month_days:
            return pd.Timestamp(str(year)+"/"+str(month)+"/"+str(day))
        day -= month_days
        month += 1
    raise ValueError('{} does not have {} days'.format(year, daynum))

In [106]:
floating_year_to_timestamp(1996.0), floating_year_to_timestamp(1996.5), floating_year_to_timestamp(1996.9999)

(Timestamp('1996-01-01 00:00:00'),
 Timestamp('1996-07-02 00:00:00'),
 Timestamp('1996-12-31 00:00:00'))

In [107]:
dt_index = pd.Series(mean_sea_level["mean_global"].index).apply(floating_year_to_timestamp)
dt_index

NameError: name 'mean_sea_level' is not defined

In [108]:
mean_sea_level = mean_sea_level.reset_index(drop=True)
mean_sea_level.index = dt_index
mean_sea_level

NameError: name 'mean_sea_level' is not defined

Now, how to align the 2 series? Is this one sampled regularly so that the month temperatures can be upscaled to that frequency?

#### Computing the difference between successive values

What is the frequency of that new index?

In [109]:
dt_index.dtype

NameError: name 'dt_index' is not defined

In [110]:
# What is the frequency of the new index? The numpy way to compute differences between all values doesn't work:
dt_index[1:] - dt_index[:-1]

NameError: name 'dt_index' is not defined





**IMPORTANT Note:** The above failure is due to the fact that operations between series automatically align them based on their index.

In [111]:
# There is a method for shifting values up/down the index:
dt_index.shift()

NameError: name 'dt_index' is not defined

In [112]:









# So the distances can be computed with 
dt_index - dt_index.shift()

NameError: name 'dt_index' is not defined

In [113]:
# Not constant reads apparently. Let's downscale the frequency of the sea levels 
# to monthly, like the temperature reads we have:
monthly_mean_sea_level = mean_sea_level.resample("MS").mean().to_period()
monthly_mean_sea_level

NameError: name 'mean_sea_level' is not defined

In [114]:
monthly_mean_sea_level["mean_global"].align(giss_temp_series)

NameError: name 'monthly_mean_sea_level' is not defined

In [ ]:











giss_temp_series.align?

In [ ]:
# Now that the series are using the same type and frequency of indexes, to align them is trivial:
monthly_mean_sea_level["mean_global"].align(giss_temp_series, join='inner')

In [ ]:
aligned_sl, aligned_temp = monthly_mean_sea_level["mean_global"].align(giss_temp_series, join='inner')
aligned_df = pd.DataFrame({"mean_sea_level": aligned_sl, "mean_global_temp": aligned_temp})

The alignment can even be done on an entire dataframe:

In [ ]:
monthly_mean_sea_level.align(giss_temp_series, axis=0, join='inner')

In [ ]:
aligned_sea_levels, aligned_temp = monthly_mean_sea_level.align(giss_temp_series, axis=0, join='inner')
aligned_monthly_data = aligned_sea_levels.copy()
aligned_monthly_data["global_temp"] = aligned_temp
aligned_monthly_data

### Correlations between sea levels and temperatures

In [ ]:
aligned_monthly_data.plot(figsize=LARGE_FIGSIZE)

In [ ]:
aligned_monthly_data.corr()

In [ ]:
model = sm.ols("southern_hem ~ global_temp", data=aligned_monthly_data)
params = model.fit()
params.rsquared

What if we had done the analysis yearly instead of monthly to remove seasonal variations?

In [ ]:
aligned_yearly_data = aligned_monthly_data.resample("A").mean()
aligned_yearly_data.plot()

In [ ]:
aligned_yearly_data.corr()

In [ ]:
model = sm.ols("southern_hem ~ global_temp", data=aligned_yearly_data).fit()
model.rsquared

## 11. Predictions from auto regression models

An auto-regresssive model fits existing data and build a (potentially predictive) model of the data fitted. We use the timeseries analysis (`tsa`) submodule of `statsmodels` to make out-of-sample predictions for the upcoming decades:

In [ ]:
from statsmodels.tsa.api import AR

In [ ]:
import statsmodels as sm
# Let's remove seasonal variations by resampling annually
data = giss_temp_series.resample("A").mean().to_timestamp()
ar_model = AR(data, freq='A')
ar_res = ar_model.fit(maxlag=60, disp=True)

In [ ]:
plt.figure(figsize=LARGE_FIGSIZE)
pred = ar_res.predict(start='1950-1-1', end='2070')
data.plot(style='k', label="Historical Data")
pred.plot(style='r', label="Predicted Data")
plt.ylabel("Temperature variation (0.01 degC)")
plt.legend()

**EXERCISE:** Make another auto-regression on the sea level of the Atlantic ocean to estimate how much New York is going to flood in the coming century. 

1. You can find the historical sea levels of the Atlantic ocean at http://sealevel.colorado.edu/files/current/sl_Atlantic_Ocean.txt or locally in `data/sea_levels/sl_Atlantic_Ocean.txt`. 
2. A little more work but more precise: extract the ID of a station in NewYork from the `local_sea_level_stations` dataset, and use it to download timeseries in NY (URL would be http://www.psmsl.org/data/obtaining/met.monthly.data/< ID >.metdata).

In [ ]:
# Your code here